<div class="dash_board_page">


<div class="match_description">
<h2>RESULTS</h2>
  You matched with <strong><%= Favourite.find_most_recent(@user) %></strong>!<br>

  <h2> HOMEWORLD:</h2> <strong><%= @planet %></strong><br>
  <h2>RECOMMENDATION: </h2>
  <% if @vehicle == nil && @starship == nil %>
    SKIP. The Ministry of Transportation's records show that they don't have their pilots lisence.<br>
    <img src="https://i.imgur.com/T6ZKN27.jpg" alt="thumbs down">
  <% elsif @vehicle != nil && @starship != nil   %>
    DATE THEM! Our records show they have a  <%= @vehicle.name  %> and a <%= @starship.name %>.<br>
    <img src="https://i.imgur.com/rdUFsCv.jpg" alt="thumbs up">
    <% elsif @vehicle != nil  %>
    DATE THEM! Our records show they have a <%= @vehicle.name  %><br>
    <img src="https://i.imgur.com/rdUFsCv.jpg" alt="thumbps up">

    <%end  %>
    <br><br><br>
    <%= link_to "NEW SEARCH", search_path %><br>
    <%= link_to "CONTROL PANEL", @user %>
</div>
<div class="image_pair">
  <%= image_tag @image %>
</div>
<div class="past_results">
  <h3>PAST RESULTS</h3>

  <% @favourites.each do |favourite| %>
    <% person = Peoples.find_my_name(favourite.id) %>
    <%= link_to person, Favourite.find_wiki_links(person) %>
    <br><br>
  <% end  %>
  <br>
</div>
</div>
