<div class="dash_board_page">

<%= link_to "New Search", search_path %><br>

<div class="match_description">
<h2>RESULTS</h2>
  You matched with <strong><%= Favourite.find_most_recent(@user) %></strong>!<br><br>

  <h2> HOMEWORLD:</h2> <strong><%= @planet %></strong><br>
  <% if @vehicle == nil && @starship == nil %>
    Cool factor: Nothing special. But they make great conversation.
  <% elsif @vehicle != nil && @starship != nil   %>
    Cool factor: Ballin' with a <%= @vehicle.name  %> and a <%= @starship.name %>.
    <% else  %>
    Cool factor: Ballin' with a <%= @vehicle.name  %>
    <%end  %>
    <br>
</div>
<div class="image_pair">
<%= image_tag @image %>
</div>

<div class="past_results">
  <h3>Past Results</h3>

  <% @favourites.each do |favourite| %>
    <%= Peoples.find_my_name(favourite.id) %>
    <br><br>
  <% end  %>
  <br>
</div>
</div>
