<div class="stats_page_container">
  <div class="most_common">
    <h2>Number of Searches</h2>
    <%= @information[:count] %>
    <h2>Most Common Match</h2>
    <%= @information[:most_common] %>
    <h2>Most Common Species</h2>
    <%= @information[:most_common_species].name %>
    <h2>Gender Preference</h2>
    <%= @information[:most_common_gender].capitalize %>
    <br><br><br>
    <a href="/users/<%= @user.id %>">
      <img src="https://i.imgur.com/q2WnMRQ.png" alt="back">
    </a>
  </div>
</div>
