<!DOCTYPE html>
<html>
  <head>
    <meta name="google-site-verification" content="QxbdaqbUSHd4-Q5SBwlMfjkYV1l3NfbocKUeCaoVN8A" />
    <title>StarWarsDating</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <br>
    <%if current_user  %>
    Current User: <%= @current_user.username%>
    <%= link_to "Logout", logout_path, method: :delete %>
    <%end %>
  </body>
</html>
